@import "_dialogs.scss";
@import "_lams_variables_sch.scss";
@import "_main_base.scss";

.top-nav {
    background-color: #5F2EEA;
}

.navbar-nav > li > a {
    color: #fff !important;
}

.navbar-nav > li > a:hover, .top-nav .nav .open > a {
    color: #515356 !important;
}

.offcanvas-toggle-header i {
    color: #fff !important;
}

.offcanvas-toggle-header:hover i {
    color: #515356 !important;
}

ul.dropdown-usermenu li {
    background: #f7f7f7;
}

ul.dropdown-usermenu li a:hover {
    background: #fff;
}

.offcanvas-logo {
    background-color: #f7f7f7;
}

.offcanvas-logo .logo {
    background-size: contain;
    background-position-x: 0px;
}

#offcanvas td.active {
    border-right: 10px solid #5F2EEA;
}

#favorite-organisations > li > a, .tablesorter a {
    color: #fff;
}

// Btn colors overwrite
.btn-primary {
    color: #fff;
    background-color: #5F2EEA;
    border-color: #ffffff;
}
.btn-primary.focus,.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40}
.btn-primary:hover {
    color: #fff;
    background-color: #5F2EEA;
    border-color: #000;
}
.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5F2EEA;
    background-image: none;
    border-color: #5F2EEA;
}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #5F2EEA;
    border-color: #5F2EEA;
}