@import "_lams_variables_sch.scss";
@import "_authoring_base.scss";

#templateContainerCell div[learninglibrarytitle="Pixlr"] {
  display: none;
}

#templateContainerCell div[learninglibrarytitle="Share commonCartridge"] {
  display: none;
}

#templateContainerCell div[learninglibrarytitle="MCQ"] {
  display: none;
}
